<%= form_for([@article]) do |f| %>
<% if @article.errors.any? %>
  <div class = "alert alert-warning">
    <h3><%= pluralize(@article.errors.count, "Error") %>
    prohibited this article from saving</h3>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
<table >
  <tr>
    <td><%= f.text_field :title, class: "form-control", :placeholder => "Title" %></td>
  </tr>
  <tr>
    <td><%= f.text_area :text, class: "form-control text_area", :placeholder => "Blog", size: "50x30" %></td>
  </tr>
  <tr>
    <td><%= f.submit :submit.capitalize, :class => "btn btn-primary" %></td>
  </tr>
</table>
<% end %>
