
<p>
  <h1><%= @article.title %></h1>
</p>
<p>
  <h3>Article</h3><br />
  <%= @article.text %>
</p>

<div class="panel-group">
  <div class="panel panel-default">
      <div class="panel-heading"><h4>Comments </h4></div>
      <div class="panel-body"><%= render @article.comments %></div>
    </div>
</div>

<button class = "btn btn-default"data-toggle="collapse" data-target="#demo">Add Comments</button>

<div id="demo" class="collapse">
  <%= render "comments/form" %>
</div>



<%= link_to "Home", root_path %> |
<%= link_to "Blog", articles_path %>
