<div class="row">
  <div class="col-sm-12">
    <center><h1>Edit Profile</h1></center>
  </div>
  <div class="col-sm-12 profile">
    <div class="col-sm-4 profile_contents">
      <% if @user.profiledp == nil %>
        <img src="../../andrew.png" class="img-circle" alt="Cinque Terre" width="250" height="250">
      <% else %>
        <img src="../../<%= @user.profiledp %>" class= "img-circle" alt="<%= @user.name %>" width="250" height="250">
      <% end %>
    </div>
    <div class="col-sm-8">
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class = "alert alert-warning">
          <h3><%= pluralize(@user.errors.count, "Error") %>
          prohibited editing profile.</h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
            <table class = "table prof">
              <tr><td class="labl"><%= f.label :email%></td><td><%= f.text_field :email, class: "form-control" %></td></tr>
              <tr><td class ="labl"><%= f.label :password%></td><td><%= f.password_field :password, class: "form-control" %></td></tr>
              <tr><td class ="labl"><%= f.label :name%></td><td><%= f.text_field :name, class: "form-control" %></td></tr>
              <tr><td class ="labl"><%= f.label :mob%></td><td><%= f.text_field :mob, class: "form-control" %></td></tr>
              <tr><td class ="labl"><%= f.label :age%></td><td><%= f.text_field :age, class: "form-control" %></td></tr>
              <tr><td class ="labl"></td><td><%= f.submit :submit, :class => "btn btn-primary ", :value => "Save" %></td></tr>
            </table>
      <% end %>

    </div>

  </div>



</div>
