<!DOCTYPE html>
<html>
<head>
  <title>Blog Sphere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid welcome_container">
    <div class="row">
      <div class="col-md-6">
        <div class="welcome_links">
          <%= link_to "Try out", new_user_path, :class => "btn btn-primary btn-block btn-lg" %><br \>
          <%= link_to "Already member ? ", new_session_path, :class => "btn btn-link" %>

        </div>

      </div>
      <div class="col-md-6">
        <div class="intro">
           Welcome To Blog Sphere
        </div>
      </div>

    </div>

    </div>
</body>
</html>
